@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    box-sizing: border-box;
}

body {
    background-color: #1f2033;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.container {
    perspective: 1000px;
    margin-bottom: 30px;
}

.movie-container {
    margin: 20px 0;
}

.movie-container select {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    appearance: none;
    padding: 5px 15px 5px 15px;
}

.screen {
    background-color: #eeffff;
    height: 50px;
    width: 100%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.8);
}

.seat {
    background-color: #444451;
    height: 18px;
    width: 20px;
    margin: 5px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.seat.selected {
    background-color: #2feaf6;
}

.seat.occupied {
    background-color: #cccccc;
}

.seat:nth-of-type(2) {
    margin-right: 20px;
}

.seat:nth-of-type(6) {
    margin-right: 20px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
    color: #bbb;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.row {
    display: flex;
}

p.text span {
    color: #2feaf6
}